body, section {
    width: 500px;
    min-height: 200px;
    overflow-x: hidden;
}

.avatar {
    border-width: 0 0 0 5px;
    border-style: solid;
    vertical-align: bottom;
}

.inline-block {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.job-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 66%;
}

.building {
    animation-name: building;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes building {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}