<!doctype html>
<html ng-app="jenkins.notifier">
<head>
    <title>Jenkins Notifier</title>

    <!-- For dev only -->
    <script src="-stub/chrome-api.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body class="container-fluid" ng-controller="JobListController">
<section class="col-xs-12">
    <h2>Jenkins Notifier</h2>
    <hr>
    <form name="urlForm" class="form-inline" ng-submit="add(url)">
        <div class="form-group" ng-class="{'has-error': urlForm.url.$invalid && !urlForm.url.$pristine}">
            <div class="input-group">
                <label class="input-group-addon" for="url">Url</label>
                <input type="url" class="form-control" id="url" name="url" ng-model="url"
                       autofocus placeholder="http://jenkins/job/your_job/" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-disabled="urlForm.$invalid">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div ng-if="urlForm.url.$error.url" class="help-block">Not a URL</div>
        </div>
    </form>
</section>
<section class="col-xs-12">
    <h3>Jobs</h3>
    <!-- TODO: job list -->
    <div class="list-group">
        <button ng-repeat="(url, job) in jobs" class="list-group-item" ng-click="open(url)">
            <div class="pull-right">
                <a ng-click="remove(url); $event.stopPropagation()" class="close"><span>&times;</span></a>
                <br>
                <span class="badge alert-{{job.statusClass}}" ng-bind="job.status"></span>
            </div>
            <img class="img-rounded avatar alert-{{job.statusClass}}" alt="Jenkins" src="img/icon48.png">
            <h4 class="job-title no-margin inline-block">
                <span ng-bind="job.name"></span>
                <br>
                <a class="small" ng-href="{{job.url}}" ng-click="$event.stopPropagation()" target="_blank"
                   ng-bind="decodeURI(job.url)"></a>
            </h4>
        </button>
    </div>
</section>
</body>
</html>

